doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title Screeps Documentation
        link(rel='stylesheet' href='css/print.css' media="print")
        link(rel='stylesheet' href='css/screen.css' media="screen")
        link(rel='stylesheet' href='css/prism.css' media="screen")
        script(src="js/lib/energize.js")
        script(src="js/lib/jquery.js")
        script(src="js/lib/jquery_ui.js")
        script(src="js/lib/jquery.highlight.js")
        script(src="js/lib/jquery.tocify.js")
        script(src="js/lib/lunr.js")
        script(src="js/lib/prism.js")
        script(src="js/app/lang.js")
        script(src="js/app/search.js")
        script(src="js/app/toc.js")
    body(class="index")
        a#nav-button(href="#")
            span
                NAV
                img(src="img/navbar.png")
        .tocify-wrapper
            .logo
                a(href="https://screeps.com/a/")
                    img(src="img/logotype_bw_animation.svg")
                a(href="/api/")
                    | api
                    if is_ptr()
                        | &nbsp;[ptr]
            .search
                input.search#input-search(type="text" placeholder="Search")
            ul.search-results
            if !is_ptr()
                a.back(href="/index.html")
                    | Back to docs
                    img(src="img/link-external.svg")
            #toc
                #toc-loading Loading...

        .page-wrapper
            .dark-box
            .content.api-content
                h1.divider Global Objects
                != page.pages['Game.md']
                != page.pages['InterShardMemory.md']
                != page.pages['Map.md']
                != page.pages['Market.md']
                != page.pages['Memory.md']
                != page.pages['PathFinder.md']
                != page.pages['RawMemory.md']
                != page.pages['constants.md']
                h1.divider Prototypes
                != page.pages['ConstructionSite.md']
                != page.pages['Creep.md']
                != page.pages['Deposit.md']
                != page.pages['Flag.md']
                != page.pages['Mineral.md']
                != page.pages['Nuke.md']
                != page.pages['OwnedStructure.md']
                != page.pages['PathFinder.CostMatrix.md']
                != page.pages['PowerCreep.md']
                != page.pages['Resource.md']
                != page.pages['Room.md']
                != page.pages['Room.Terrain.md']
                != page.pages['RoomObject.md']
                != page.pages['RoomPosition.md']
                != page.pages['RoomVisual.md']
                != page.pages['Ruin.md']
                != page.pages['Source.md']
                != page.pages['Store.md']
                != page.pages['Structure.md']
                != page.pages['StructureContainer.md']
                != page.pages['StructureController.md']
                != page.pages['StructureExtension.md']
                != page.pages['StructureExtractor.md']
                != page.pages['StructureFactory.md']
                != page.pages['StructureInvaderCore.md']
                != page.pages['StructureKeeperLair.md']
                != page.pages['StructureLab.md']
                != page.pages['StructureLink.md']
                != page.pages['StructureNuker.md']
                != page.pages['StructureObserver.md']
                != page.pages['StructurePowerBank.md']
                != page.pages['StructurePowerSpawn.md']
                != page.pages['StructurePortal.md']
                != page.pages['StructureRampart.md']
                != page.pages['StructureRoad.md']
                != page.pages['StructureSpawn.md']
                != page.pages['StructureStorage.md']
                != page.pages['StructureTerminal.md']
                != page.pages['StructureTower.md']
                != page.pages['StructureWall.md']
                != page.pages['Tombstone.md']


            .dark-box


